/* app css stylesheet */

@mixin flex {
  display: flex;
}
.flex {
  @include flex;
}

@mixin flex-col {
  @include flex;
  flex-direction: column;
}
.flex-col {
  @include flex-col;
}

@mixin flex-row {
  @include flex;
  flex-direction: row;
}
.flex-row {
  @include flex-row;
}

$color1: #16a765;
$color2: #737373;
$color3: #4986e7;
$color4: #e9b330;
$top: #dbf5fe;
$bottom: #f1faff;
$drop-shadow: #dbdbdb;

@mixin linearGradient($top, $bottom){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  @include linearGradient($top, $bottom);
}

.category1 {
  background-color: $color1;
}
.category2 {
  background-color: $color2;
}
.category3 {
  background-color: $color3;
}
.category4 {
  background-color: $color4;
}

ul {
  margin: 0;
}

h3 {
  margin: 0;
}

button {
  border: none;
  text-indent: -6000px;
  width: 24px;
  outline: none;
  cursor: pointer;
  opacity: .5;
  &.selected {
    opacity: 1;
    cursor: default;
  }
  &.grid {
    background: url(https://cdn0.iconfinder.com/data/icons/elysium-icons/24/Grid.png) no-repeat 0 0;
  }
  &.list {
    background: url(https://cdn0.iconfinder.com/data/icons/elysium-icons/24/ViewType_Details.png) no-repeat 0 0;
  }
}

.header {
  @include flex-row;
  background: black;
  padding: 4px 0 4px 10px;
  margin-bottom: -1px; //drop shadow issue

  &:after {
    content: '';
    position: absolute;
    top: 51px;
    -webkit-box-shadow: 0px 9px 5px 0px rgba(219,219,219,0.88);
    -moz-box-shadow: 0px 9px 5px 0px rgba(219,219,219,0.88);
    box-shadow: 0px 9px 5px 0px rgba(219,219,219,0.88);
    height: 10px;
    width: 100%;
    left: 0;
  }

  a {
    flex-grow: 1;
  }
  p {
    color: white;
    margin-right: 20px;
  }
}

.header-content {
  h3 {
    font-size: 15px;
    display: inline-block;
    white-space: nowrap;
  }
  .menu-left,
  .menu-right {
    margin-bottom: 14px;
  }

  .menu-left {
    list-style: none;
    padding: 0 0 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 148px;

    > li {
      display: inline;
      margin: 10px 10px 20px 0;
    }
    > li a {
      display: inline;
      margin: 10px 10px 20px 0;
      opacity: .5;
    }

    > li.selected a {
      opacity: 1;
    }
  }
}

.content-container {
  margin: 0 auto;
  max-width: 1200px;
}

.content {
  height: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-top: 10px;
}

.grid-content {
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  max-height: 90vh;
  margin: 0;
  padding-top: 10px;
  background: white;

  .cat-div {
    margin: 0 10px 20px;
    border-left: 10px solid;
    padding: 0 0 0 10px;
    &.cat1 {
      border-color: $color1;
    }
    &.cat2 {
      border-color: $color2;
    }
    &.cat3 {
      border-color: $color3;
    }
    &.cat4 {
      border-color: $color4;
    }
  }
  p {
    margin: 0;
    &:hover {
      cursor: pointer;
    }
  }

  .html:hover {
    color: #777;
  }

  .grid {
    @include flex-row;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    max-width: 1062px;
    height: 100vh;

    .flex {
      display: flex;
      max-height: 200px;
      overflow: hidden;
      min-width: 170px;
      max-width: 170px;
      margin-bottom: 15px;

      .cat-div {
        border-left: none;
        border-top: 10px solid;
        &.cat1 {
          border-color: $color1;
        }
        &.cat2 {
          border-color: $color2;
        }
        &.cat3 {
          border-color: $color3;
        }
        &.cat4 {
          border-color: $color4;
        }

        h3 {
          margin: 2px 0 5px 0;
          font-size: 16px;
        }

        .html p {
          display: none;
          &:first-child {
            display: block;
            text-overflow: ellipsis;
            max-width: 150px;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
  }

  .list {
    .html p {
      font-weight: normal;
    }
    .html p:first-child {
      font-weight: bold;
    }
  }

}

.categoryFacet {
  @include flex;
  width: 75%;
  flex-wrap: wrap;
  margin-bottom: 1em;
  label {
    white-space: nowrap;
    min-width: 102px;
    justify-content: space-between;
  }
}

.facetCategory1,
.facetCategory2,
.facetCategory3,
.facetCategory4 {
  font-weight: bold;
}
.facetCategory1 {
  color: #16a765;
}
.facetCategory2 {
  color: #737373;
}
.facetCategory3 {
  color: #4986e7;
}
.facetCategory4 {
  color: #e9b330;
}

.sidebar {
  width: 200px;
  padding: 20px 0 0 20px;
  background: rgb(255, 250, 240);
  max-height: 100vh;
  position: relative;

  .menu-right {
    white-space: nowrap;
    margin-right: 20px;
    h3 {
      display: inline-block;
      white-space: nowrap;
    }
  }
}

.tiled-icon {
  max-width: 128px;
  max-height: 128px;
}

select {
  background-color: white;
  color: #000;

  select * {
    background-color: white;
    color: #000;

    *.category1 { /* This, miraculously, styles the '<option class="red"></option>' elements. */
      background-color: $color1;
      color: #FFF;
    }
    *.category2 {
      background-color: $color2;
      color: #FFF;
    }
    *.category3 {
      background-color: $color3;
      color: #FFF;
    }
    *.category4 {
      background-color: $color4;
      color: #FFF;
    }
  }
}

.full-article {
  margin: 10px 0 0 0;
  max-width: 1200px;
  height: 100vh;
  background: white;
  padding: 10px;

  p:nth-child(1) {
    font-weight: bold;
  }

  .subs {
    font-weight: bold;
    color: #999;
  }

  button {
    text-indent: 0;
    opacity: 1;
    width: auto;
    padding-left: 38px;
    line-height: 26px;
  }
}

@media (max-width: 640px) {

  .logo {
    @include flex-col;
    background: black;
    padding: 4px 0 4px 10px;
    a {
      flex-grow: 1;
    }
    p {
      color: white;
      margin: 4px;
    }
  }

  .content {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 0;
    top: 70px;
    margin: 0 auto;
    max-width: 1200px;
  }

  .grid-content {
    max-height: 100vh;
    margin: 0 0 0 0;
    padding-top: 10px;

    .grid {
      .flex {
        display: flex;
        overflow: hidden;
        margin-bottom: 15px;
        width: 100%;
        min-width: 214px;
        max-width: none;
        max-height: 200px;

        .cat-div {
          border-left: none;
          border-top: 10px solid;
          width: 100%;
          &.cat1 {
            border-color: $color1;
          }
          &.cat2 {
            border-color: $color2;
          }
          &.cat3 {
            border-color: $color3;
          }
          &.cat4 {
            border-color: $color4;
          }

          h3 {
            margin: 2px 0 5px 0;
            font-size: 16px;
          }

          p:first-child {
            display: block;
            text-overflow: ellipsis;
            max-width: 320px;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
  }

  .sidebar {
    width: 100%;
    margin-top: -10px; // push away from drop-shadow
    padding-top: 6px;
    display: none;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 9px;
      width: 100%;
      left: 0;
      -webkit-box-shadow: 0 5px 9px 0 $drop-shadow;
      -moz-box-shadow: 0 5px 9px 0 $drop-shadow;
      box-shadow: 0 5px 9px 0 $drop-shadow;
    }

    &.isShown {
      display: block;
    }

    .header-content {
      @include flex-row;
      width: 100%;
      flex-wrap: nowrap;
      margin: 2px 0 0 0;

      .menu-left {
        display: none;
      }

      .menu-right {
        margin: 0 0 0 13px;
        text-align: right;
        padding-right: 20px;
      }
    }

    button {
      margin: 0 13px 0 6px;
    }

    .categoryFacet {
      width: 100%;
      justify-content: space-around;
      margin-bottom: .2em;
      font-size: 15px;

      label {
        white-space: nowrap;
        min-width: 108px;
        justify-content: space-between;
        margin-right: 35px;
      }
    }
  }
}

@media screen and (max-width: 640px) and (min-width: 433px)  {
  .sidebar {
    .categoryFacet {
      label {
        min-width: 39px;
      }
    }
  }
}