/* app css stylesheet */
.flex {
  display: flex; }

.flex-col {
  display: flex;
  flex-direction: column; }

.flex-row {
  display: flex;
  flex-direction: row; }

body {
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dcf1fc+0,f1faff+100 */
  background: #dbf5fe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dbf5fe 0%, #f1faff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #dbf5fe 0%, #f1faff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #dbf5fe 0%, #f1faff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$bg-color1', endColorstr='$bg-color2',GradientType=0 );
  /* IE6-9 */ }

.category1 {
  background-color: #16a765; }

.category2 {
  background-color: #737373; }

.category3 {
  background-color: #4986e7; }

.category4 {
  background-color: #e9b330; }

ul {
  margin: 0; }

h3 {
  margin: 0; }

.header {
  display: flex;
  flex-direction: row;
  background: black;
  padding: 4px 0 4px 10px;
  margin-bottom: -1px; }
  .header:after {
    content: '';
    position: absolute;
    top: 51px;
    -webkit-box-shadow: 0px 9px 5px 0px rgba(219, 219, 219, 0.88);
    -moz-box-shadow: 0px 9px 5px 0px rgba(219, 219, 219, 0.88);
    box-shadow: 0px 9px 5px 0px rgba(219, 219, 219, 0.88);
    height: 10px;
    width: 100%;
    left: 0; }
  .header a {
    flex-grow: 1; }
  .header p {
    color: white;
    margin-right: 20px; }

.header-content h3 {
  font-size: 15px;
  display: inline-block;
  white-space: nowrap; }
.header-content .menu-left,
.header-content .menu-right {
  margin-bottom: 14px; }
.header-content .menu-left {
  list-style: none;
  padding: 0 0 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 148px; }
  .header-content .menu-left button {
    border: none;
    text-indent: -6000px;
    width: 24px;
    outline: none;
    cursor: pointer;
    opacity: .5; }
    .header-content .menu-left button.selected {
      opacity: 1;
      cursor: default; }
    .header-content .menu-left button.grid {
      background: url(https://cdn0.iconfinder.com/data/icons/elysium-icons/24/Grid.png) no-repeat 0 0; }
    .header-content .menu-left button.list {
      background: url(https://cdn0.iconfinder.com/data/icons/elysium-icons/24/ViewType_Details.png) no-repeat 0 0; }
  .header-content .menu-left > li {
    display: inline;
    margin: 10px 10px 20px 0; }
  .header-content .menu-left > li a {
    display: inline;
    margin: 10px 10px 20px 0;
    opacity: .5; }
  .header-content .menu-left > li.selected a {
    opacity: 1; }

.content-container {
  margin: 0 auto;
  max-width: 1200px; }

.content {
  height: 100%; }

.grid-content {
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
  max-height: 90vh;
  margin: 10px 0 0 0;
  padding-top: 10px;
  background: white; }
  .grid-content .cat-div {
    margin: 0 10px 20px;
    border-left: 10px solid;
    padding: 0 0 0 10px; }
    .grid-content .cat-div.cat1 {
      border-color: #16a765; }
    .grid-content .cat-div.cat2 {
      border-color: #737373; }
    .grid-content .cat-div.cat3 {
      border-color: #4986e7; }
    .grid-content .cat-div.cat4 {
      border-color: #e9b330; }
  .grid-content p {
    margin: 0; }
    .grid-content p:hover {
      cursor: pointer; }
  .grid-content .html:hover {
    color: #777; }
  .grid-content .grid {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    max-width: 1062px; }
    .grid-content .grid .flex {
      display: flex;
      max-height: 200px;
      overflow: hidden;
      min-width: 170px;
      max-width: 170px;
      margin-bottom: 15px; }
      .grid-content .grid .flex .cat-div {
        border-left: none;
        border-top: 10px solid; }
        .grid-content .grid .flex .cat-div.cat1 {
          border-color: #16a765; }
        .grid-content .grid .flex .cat-div.cat2 {
          border-color: #737373; }
        .grid-content .grid .flex .cat-div.cat3 {
          border-color: #4986e7; }
        .grid-content .grid .flex .cat-div.cat4 {
          border-color: #e9b330; }
        .grid-content .grid .flex .cat-div h3 {
          margin: 2px 0 5px 0;
          font-size: 16px; }
        .grid-content .grid .flex .cat-div .html p {
          display: none; }
          .grid-content .grid .flex .cat-div .html p:first-child {
            display: block;
            text-overflow: ellipsis;
            max-width: 150px;
            white-space: nowrap;
            overflow: hidden; }
  .grid-content .list .html p {
    font-weight: normal; }
  .grid-content .list .html p:first-child {
    font-weight: bold; }

.categoryFacet {
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  margin-bottom: 1em; }
  .categoryFacet label {
    white-space: nowrap;
    min-width: 102px;
    justify-content: space-between; }

.facetCategory1,
.facetCategory2,
.facetCategory3,
.facetCategory4 {
  font-weight: bold; }

.facetCategory1 {
  color: #16a765; }

.facetCategory2 {
  color: #737373; }

.facetCategory3 {
  color: #4986e7; }

.facetCategory4 {
  color: #e9b330; }

.sidebar {
  min-width: 200px;
  padding: 20px 0 0 20px;
  background: floralwhite;
  border-right: 1px solid #ccc;
  margin-top: 10px;
  max-height: 100vh;
  position: relative; }
  .sidebar .menu-right {
    white-space: nowrap;
    margin-right: 20px; }
    .sidebar .menu-right h3 {
      display: inline-block;
      white-space: nowrap; }

.tiled-icon {
  max-width: 128px;
  max-height: 128px; }

select {
  background-color: white;
  color: #000; }
  select select * {
    background-color: white;
    color: #000; }
    select select * *.category1 {
      /* This, miraculously, styles the '<option class="red"></option>' elements. */
      background-color: #16a765;
      color: #FFF; }
    select select * *.category2 {
      background-color: #737373;
      color: #FFF; }
    select select * *.category3 {
      background-color: #4986e7;
      color: #FFF; }
    select select * *.category4 {
      background-color: #e9b330;
      color: #FFF; }

.full-article {
  margin: 10px 0 0 0;
  max-width: 1200px;
  height: 100vh;
  background: white;
  padding: 10px; }
  .full-article .fullArticle p:nth-child(1) {
    font-weight: bold; }
  .full-article .subs {
    font-weight: bold;
    color: #999; }

@media (max-width: 640px) {
  .logo {
    display: flex;
    flex-direction: column;
    background: black;
    padding: 4px 0 4px 10px; }
    .logo a {
      flex-grow: 1; }
    .logo p {
      color: white;
      margin: 4px; }

  .content {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 0;
    top: 70px;
    margin: 0 auto;
    max-width: 1200px; }

  .grid-content {
    max-height: 100vh;
    margin: 0 0 0 0;
    padding-top: 10px; }
    .grid-content .grid .flex {
      display: flex;
      overflow: hidden;
      margin-bottom: 15px;
      width: 100%;
      min-width: 214px;
      max-width: none;
      max-height: 200px; }
      .grid-content .grid .flex .cat-div {
        border-left: none;
        border-top: 10px solid;
        width: 100%; }
        .grid-content .grid .flex .cat-div.cat1 {
          border-color: #16a765; }
        .grid-content .grid .flex .cat-div.cat2 {
          border-color: #737373; }
        .grid-content .grid .flex .cat-div.cat3 {
          border-color: #4986e7; }
        .grid-content .grid .flex .cat-div.cat4 {
          border-color: #e9b330; }
        .grid-content .grid .flex .cat-div h3 {
          margin: 2px 0 5px 0;
          font-size: 16px; }
        .grid-content .grid .flex .cat-div p:first-child {
          display: block;
          text-overflow: ellipsis;
          max-width: 320px;
          white-space: nowrap;
          overflow: hidden; }

  .sidebar {
    margin-top: -10px;
    padding-top: 6px;
    display: none;
    width: 100%; }
    .sidebar:after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 9px;
      width: 100%;
      left: 0;
      -webkit-box-shadow: 0 5px 9px 0 #dbdbdb;
      -moz-box-shadow: 0 5px 9px 0 #dbdbdb;
      box-shadow: 0 5px 9px 0 #dbdbdb; }
    .sidebar.isShown {
      display: block; }
    .sidebar .header-content {
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-wrap: nowrap;
      margin: 2px 0 0 0; }
      .sidebar .header-content .menu-left {
        width: auto;
        margin: 0 10px 0 0;
        flex-grow: 1;
        justify-content: flex-start;
        align-items: center;
        border-bottom: none; }
      .sidebar .header-content .menu-right {
        margin-bottom: 0;
        flex-grow: 1;
        text-align: right;
        padding-right: 20px; }
    .sidebar button {
      margin: 0 13px 0 6px; }
    .sidebar .categoryFacet {
      width: 100%;
      justify-content: space-around;
      margin-bottom: .2em;
      font-size: 15px; }
      .sidebar .categoryFacet label {
        white-space: nowrap;
        min-width: 108px;
        justify-content: space-between;
        margin-right: 35px; } }
@media screen and (max-width: 640px) and (min-width: 433px) {
  .sidebar .categoryFacet label {
    min-width: 39px; } }

/*# sourceMappingURL=app.css.map */
