
<div class="menu">
    <h3>View by:</h3>
    <button ng-class="{selected: onactive}" class="grid" ng-click="changeView('on', 'content/grid.html')">on</button>
    <button ng-class="{selected: offactive}" class="list" ng-click="changeView('off', 'content/list.html')">off</button>
</div>

<p>
    <b>Sort by:</b>&nbsp;
    <select class="sortBy" ng-options="col for col in cols" ng-model="sort"></select>
</p>

<!--
In case anybody wants to filter by select instead of dropdown
<h3>Filter by:</h3>
<select ng-model="searchparam.category">
    <option ng-class="'category' + category.id" ng-repeat="category in categories" value="{{category.id}}">{{category.title}}</option>
</select>
-->

<div class="categoryFacet">
    <label ng-repeat="articleCategory in categoryGroup" ngInit="parentIndex = $index">
        <input type="checkbox" ng-model="useCategory[articleCategory]" />
        <span ng-repeat="category in categories"  ng-class="'facetCategory' + category.id">
            {{$parent.$index+1 === category.id ? category.title : '' }}
        </span>
    </label>
</div>